div[class^='icon']{
    width: 56px;
    height: 56px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
}
p[class^='card-subtitle']{
    font-size: 12px;
    font-weight: bold;
}
    form{
        width: 40%;
    }
#form-input{
    width: 100%;
}
#form-input>*{
    outline: none;
    width: 100%;
}
.btn:hover{
    opacity:.7;
    transform: scale(1.02);
}
li[class*='nav-icon']{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
li[class*='nav-icon']:hover{
    background-color:rgb(214, 214, 214);
    transform: scale(1.02);
}
div[class*='overview']:hover{
    cursor: pointer;
}

@media screen and (max-width:700px) {
    form{
        width: 70%;
    }
}